@model IEnumerable<barApp.DetalleVenta>

@if (Model != null)
{
    <table id="detalle" class="table table-dark" border="1">
        <thead style="font-size:18px;">


            <tr class="bg-danger">
                @*<th>Id</th>*@
                <th>Descripcion del Producto</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Total</th>
                <th>Despachado</th>
                @*<th>Borrar</th>*@
            </tr>
        </thead>
        <tbody>



            @foreach (var item in Model)
            {
            <tr>
                
                <td>@item.Producto.nombre.ToUpper()</td>
                <td>@item.cantidad.ToString("#,0")</td>
                <td>@item.precioVenta.GetValueOrDefault(0).ToString("$#,0.00")</td>
                <td>@item.subTotal.ToString("$#,0.00")</td>

                @if (item.despachada == true)
                {
                    <td name="Si">Si</td>
                }
                else
                {
                    <td name="No">No</td>
                }

                @*<td><button class='btn btn-danger' type='button' onclick="fn_dar_eliminar('@item.idDetalle')"><span class='fa fa-remove'></span></button></td>*@
            </tr>
            }


        </tbody>

    </table>



}