

@if (ViewData["ListaInventario"] != null)
{

    <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">

        <tr class="odd">
            <th>
                Codigo
            </th>
            <th>
                Producto
            </th>
            <th>
                @if (@ViewData["TransferirVista"] != null)
                {
                    <p>Cant. Almacen</p>
                }
                else
                {
                    <p>Cant. Bar</p>
                }
            </th>
            <th>Transferir</th>
        </tr>

        @foreach (var item in ViewData["ListaInventario"] as IEnumerable<barApp.Models.Inventario>)
        {
            <tr class="odd">
                <td>
                    @Html.DisplayFor(modelItem => item.IdProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @item.Cantidad.ToString("#,0")
                </td>
                <td>
                    @if (@ViewData["TransferirVista"] != null)
                    {
                        <button data-toggle="modal" onclick="myfunction()" class="btn btn-link" data-target="#ModalTransferirProductoABAR"> <i class="fas fa-arrow-alt-circle-down fa-1x"></i> </button>
                    }


                </td>
            </tr>
        }

    </table>
}



@{Html.RenderPartial("ModalMessenge", ViewData["Alert"] as barApp.Models.InfoMensaje);}


@if (ViewData["Alert"] != null)
{
    var viewDataMyObj = ViewData["Alert"] as barApp.Models.InfoMensaje;

    if (viewDataMyObj.Tipo == "Success1")
    {
        <script>



            $("#cantidad").val("")
            alert("@viewDataMyObj.Mensaje")

        </script>

    }

}