@model IEnumerable<barApp.Categoria>

@if (ViewData["ListaCategoria"] != null)
{


    <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">

        <tr class="odd">
            <th>
                @Html.DisplayNameFor(model => model.idCategoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.activo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoCategoria.Tipo)
            </th>
            <th>Opciones</th>
        </tr>

        @foreach (var item in ViewData["ListaCategoria"] as IEnumerable<barApp.Categoria>)
        {
    <tr class="odd">
        <td>
            @Html.DisplayFor(modelItem => item.idCategoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.activo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoCategoria.Tipo)
        </td>
        <td>
            <button data-toggle="modal" onclick="myfunction()" class="btn btn-link" data-target="#ModalEditarCategoria"> <i class="fas fa-edit fa-1x"></i> </button>

            @Ajax.ActionLink(" ", "EliminarCategoria", "Home", new { id = item.idCategoria }, new AjaxOptions()
       {
           HttpMethod = "POST",
           UpdateTargetId = "Contenedor",
           InsertionMode = InsertionMode.Replace,
           LoadingElementId = "progress",

           //OnBegin = "onBeginAjax",
           //OnComplete = "onCompleteAjax",
           OnSuccess = "onSuccessEliminar",
           OnFailure = "onFailureAjax",
       }, new { @class = "fa fa-eraser fa-1x text-danger" })


        </td>
    </tr>
        }

    </table>
}




    @{Html.RenderPartial("ModalMessenge",  ViewData["Alert"] as  barApp.Models.InfoMensaje);}
